
.input {
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  border: 1px solid #9e9e9e;
  background-color: transparent;
  font-family: 'Poppins', Helvetica;
  font-size: 12px;
  font-weight: 300;
  color: #616161;
  outline: none;
  transition: border-color 0.2s ease;
}

.input::placeholder {
  color: #616161;
}

.input:focus {
  border-color: #212121;
}
