.doctor-profile {
  background-color: #fffafa;
  width: 100%;
  min-width: 1440px;
  display: flex;
  flex-direction: column;
}

.doctor-profile-content {
  display: flex;
  flex: 1;
}

.doctor-profile-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease forwards;
  opacity: 0;
  transform: translateY(-10px);
}
