.sidebar-header {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #fffafa;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  animation: fadeIn 1s ease forwards;
  opacity: 0;
  transform: translateY(-10px);
}

.sidebar-header-content {
  display: flex;
  width: 100%;
  max-width: 1328px;
  height: 74px;
  margin: 0 auto;
  padding: 0 56px;
  margin-top: 16px;
  align-items: center;
  justify-content: space-between;
}

.sidebar-logo-container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.sidebar-logo-image {
  width: 75px;
  height: 74px;
}

.sidebar-logo-text {
  font-family: 'Poppins', Helvetica;
  font-size: 48px;
  line-height: normal;
}

.sidebar-logo-truth {
  font-weight: bold;
  color: #1c5332;
}

.sidebar-logo-eye {
  font-weight: bold;
  color: #f3b300;
}

.sidebar-user-container {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.sidebar-avatar {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar-user-name {
  font-family: 'Poppins', Helvetica;
  font-weight: 600;
  color: #1c5332;
  font-size: 24px;
  text-align: center;
}
