.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
  animation-delay: 0s;
}

.navigation-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  max-width: 517px;
}

.navigation-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #1c2933;
  line-height: normal;
}

.navigation-description {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #616161;
  line-height: normal;
}

.export-button {
  height: 48px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 10px;
  background-color: #1c5332;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.export-button:hover {
  background-color: rgba(28, 83, 50, 0.9);
}

.export-button svg {
  width: 24px;
  height: 24px;
  color: #fffafa;
}

.export-button span {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #fffafa;
}
.sidebar-header {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #fffafa;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  animation: fadeIn 1s ease forwards;
  opacity: 0;
  transform: translateY(-10px);
}

.sidebar-header-content {
  display: flex;
  width: 100%;
  max-width: 1328px;
  height: 74px;
  margin: 0 auto;
  padding: 0 56px;
  margin-top: 16px;
  align-items: center;
  justify-content: space-between;
}

.sidebar-logo-container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.sidebar-logo-image {
  width: 75px;
  height: 74px;
}

.sidebar-logo-text {
  font-family: 'Poppins', Helvetica;
  font-size: 48px;
  line-height: normal;
}

.sidebar-logo-truth {
  font-weight: bold;
  color: #1c5332;
}

.sidebar-logo-eye {
  font-weight: bold;
  color: #f3b300;
}

.sidebar-user-container {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.sidebar-avatar {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar-user-name {
  font-family: 'Poppins', Helvetica;
  font-weight: 600;
  color: #1c5332;
  font-size: 24px;
  text-align: center;
}
.merged-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
